<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<h2>Product</h2>
<a href="{% url 'order' %}">
    <button class="btn btn-primary mx-3">Create Order</button>
</a>
<br><br>
<h3>Order Details</h3>
<hr>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Customer</th>
        <th scope="col">Product</th>
        <th scope="col">Qty</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    {% for i in order %}
    <tr>
        <th scope="row">{{i.customer_id}}</th>
        <td>{{i.product_id}}</td>
        <td>{{i.qty}}</td>
        <td>{{i.unit_price}}</td>
        <td>{{i.total_price}}</td>
        <td>
           <a href="update/{{i.id}}"> <button type="submit" class="btn btn-primary">Edit</button></a>

            <a href="delete_order/{{i.id}}"><button type="submit" class="btn btn-primary">Delete</button></a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>